*/obj
*/bin/*
*.layout
*.mode1v3
*.pbxuser
*.app
*.xcworkspacedata
*.xcuserstate
*.xcscheme
*/*.xcodeproj/xcuserdata
*/*.xcodeproj/project.xcworkspace
*/build/*
.DS_Store
Bullet-src/

# User-specific files
*.suo
*.user
*.sln.docstates