//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/ios/CoreOF.xcconfig"

BULLET_LIB_PATH = $(OF_PATH)/addons/ofxBullet/libs/bullet2.8.2

HEADER_BULLET = "$(BULLET_LIB_PATH)/include/**"

LIB_BULLET_COLLISION_RELEASE    = "$(BULLET_LIB_PATH)/lib/ios/arm7/libBulletCollision.a"
LIB_BULLET_DYNAMICS_RELEASE     = "$(BULLET_LIB_PATH)/lib/ios/arm7/libBulletDynamics.a"
LIB_BULLET_MATH_RELEASE         = "$(BULLET_LIB_PATH)/lib/ios/arm7/libLinearMath.a"
LIB_BULLET_SOFT_BODY_RELEASE    = "$(BULLET_LIB_PATH)/lib/ios/arm7/libBulletSoftBody.a"

LIB_BULLET_COLLISION_RELEASE_SIM    = "$(BULLET_LIB_PATH)/lib/ios/i386/libBulletCollision.a"
LIB_BULLET_DYNAMICS_RELEASE_SIM     = "$(BULLET_LIB_PATH)/lib/ios/i386/libBulletDynamics.a"
LIB_BULLET_MATH_RELEASE_SIM         = "$(BULLET_LIB_PATH)/lib/ios/i386/libLinearMath.a"
LIB_BULLET_SOFT_BODY_RELEASE_SIM    = "$(BULLET_LIB_PATH)/lib/ios/i386/libBulletSoftBody.a"

LIB_BULLET_ALL_RELEASE = $(LIB_BULLET_COLLISION_RELEASE) $(LIB_BULLET_DYNAMICS_RELEASE) $(LIB_BULLET_MATH_RELEASE) $(LIB_BULLET_SOFT_BODY_RELEASE) $(LIB_BULLET_COLLISION_RELEASE_SIM) $(LIB_BULLET_DYNAMICS_RELEASE_SIM) $(LIB_BULLET_MATH_RELEASE_SIM) $(LIB_BULLET_SOFT_BODY_RELEASE_SIM)

OTHER_LDFLAGS = $(OF_CORE_LIBS) $(LIB_BULLET_ALL_RELEASE)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS)

COMPRESS_PNG_FILES = NO
GCC_THUMB_SUPPORT = NO
IPHONEOS_DEPLOYMENT_TARGET = 3.1
TARGETED_DEVICE_FAMILY = 1
